@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
.article {
  @apply mt-5 flex justify-center items-center;
}
.article-row-flex {
  @apply my-40 flex flex-row justify-evenly items-center;
}
.article-row-flex-reverse {
  @apply my-40 flex flex-row-reverse justify-evenly items-center;
}
.link {
  @apply text-xl text-blue-500 underline underline-offset-auto;
}

/* .min-h- {
  min-height: :;
} */

.badge {
  @apply border-black border-2 rounded-xl m-1 inline-block px-2;
}

.title {
  @apply text-3xl font-bold;
}

.resume-box {
  @apply grid;
  grid-template-columns: 1fr 2fr;
}
